<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyang.orchard.dao.BrowseRecordsMapper">
  <resultMap id="BaseResultMap" type="com.liyang.orchard.model.BrowseRecords">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="browse_records_id" jdbcType="INTEGER" property="browseRecordsId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="info_id" jdbcType="INTEGER" property="infoId" />
    <result column="owner_house_id" jdbcType="INTEGER" property="ownerHouseId" />
    <result column="browse_date" jdbcType="TIMESTAMP" property="browseDate" />
  </resultMap>
</mapper>