<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyang.orchard.dao.CommentMapper">
  <resultMap id="BaseResultMap" type="com.liyang.orchard.model.Comment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="com_id" jdbcType="INTEGER" property="comId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="info_id" jdbcType="INTEGER" property="infoId" />
    <result column="owner_house_id" jdbcType="INTEGER" property="ownerHouseId" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="com_date" jdbcType="TIMESTAMP" property="comDate" />
  </resultMap>

  <insert id="addInfoSquareComment">
    insert into comment(info_id, user_id, comment, com_date)
    values(#{infoId},#{userId},#{comment},NOW())
  </insert>

  <insert id="addOwnerHouseComment">
    insert into comment(owner_house_id, user_id, comment, com_date)
    values(#{ownerHouseId},#{userId},#{comment},NOW())
  </insert>

  <delete id="deleteByCommentId">
    delete from comment
    where com_id=#{commentId};
  </delete>

<!--  <delete id="deleteOwnerHouseId">-->
<!--    delete from comment-->
<!--    where owner_house_id=#{ownerHouseId};-->
<!--  </delete>-->

  <select id="getCommentIdsByInfoSquareId" resultType="java.lang.Integer">
    select * from comment
    where info_id=#{infoSquareId}
  </select>

  <select id="getCommentIdsByOwnerHouseId" resultType="java.lang.Integer">
    select * from comment
    where owner_house_id=#{ownerHouseId}
  </select>
</mapper>