<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyang.orchard.dao.FavoriteMapper">
  <resultMap id="BaseResultMap" type="com.liyang.orchard.model.Favorite">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="favorite_id" jdbcType="INTEGER" property="favoriteId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="info_id" jdbcType="INTEGER" property="infoId" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
  </resultMap>
</mapper>