<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyang.orchard.dao.InfoSquareMapper">
  <resultMap id="BaseResultMap" type="com.liyang.orchard.model.InfoSquare">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="info_id" jdbcType="INTEGER" property="infoId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="video_url" jdbcType="VARCHAR" property="videoUrl" />
    <result column="buy_weight" jdbcType="VARCHAR" property="buyWeight" />
    <result column="recruit_num" jdbcType="VARCHAR" property="recruitNum" />
    <result column="info_type_id" jdbcType="INTEGER" property="infoTypeId" />
    <result column="release_date" jdbcType="TIMESTAMP" property="releaseDate" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="rich_text" jdbcType="VARCHAR" property="richText" />
    <collection property="imgList" ofType="com.liyang.orchard.model.ImgList">
      <result property="imgId" column="img_id"/>
      <result property="infoSquareId" column="info_square_id"/>
      <result property="ownerHouseId" column="owner_house_id"/>
      <result property="imgUrl" column="img_url"/>
    </collection>
  </resultMap>

  <resultMap id="PaginationInfoSquareMap" type="com.liyang.orchard.model.infosquare.PaginationInfoSquare">
    <id column="info_id" jdbcType="INTEGER" property="infoId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="info_type_id" jdbcType="INTEGER" property="infoTypeId" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="rich_text" jdbcType="VARCHAR" property="richText" />
    <collection property="imgList" ofType="com.liyang.orchard.model.ImgList">
      <result property="imgId" column="img_id"/>
      <result property="infoSquareId" column="info_square_id"/>
      <result property="ownerHouseId" column="owner_house_id"/>
      <result property="imgUrl" column="img_url"/>
    </collection>
  </resultMap>

  <resultMap id="MyInfoSquareMap" type="com.liyang.orchard.model.infosquare.vo.MyInfoSquare">
    <id column="info_id" jdbcType="INTEGER" property="infoId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="info_type_id" jdbcType="INTEGER" property="infoTypeId" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="rich_text" jdbcType="VARCHAR" property="richText" />
  </resultMap>

  <resultMap id="SearchInfoSquareMap" type="com.liyang.orchard.model.infosquare.SearchInfoSquare">
    <id column="info_id" jdbcType="INTEGER" property="infoId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
<!--    <result column="nikename" jdbcType="VARCHAR" property="userNikename" />-->
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="info_type_id" jdbcType="INTEGER" property="infoTypeId" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="rich_text" jdbcType="VARCHAR" property="richText" />
    <collection property="imgList" ofType="com.liyang.orchard.model.ImgList">
      <result property="imgId" column="img_id"/>
      <result property="infoSquareId" column="info_square_id"/>
      <result property="ownerHouseId" column="owner_house_id"/>
      <result property="imgUrl" column="img_url"/>
    </collection>
  </resultMap>

  <select id="getInfoById" resultMap="BaseResultMap">
    select * from info_square
    <where>
      info_id=#{infoId}
    </where>
  </select>

  <select id="selectInfoSquareAllById" resultMap="BaseResultMap">
    SELECT * FROM info_square ins,img_list iml
    WHERE ins.info_id=iml.info_square_id
    AND ins.info_id=#{infoId}
  </select>

  <insert id="insertBuyInfoSquare" useGeneratedKeys="true" keyProperty="BIS.infoId" parameterType="com.liyang.orchard.model.infosquare.BuyInfoSquare">
    insert into info_square(user_id,title,description,address,phone,buy_weight,name,info_type_id,release_date,tags)
    values(#{BIS.userId},#{BIS.title},#{BIS.description},#{BIS.address},#{BIS.phone},#{BIS.buyWeight},#{name},2,NOW(),#{tag})
  </insert>

  <insert id="insertSupplyInfoSquare" useGeneratedKeys="true" keyProperty="SIS.infoId" parameterType="com.liyang.orchard.model.infosquare.SupplyInfoSquare">
    insert into info_square(user_id,title,description,address,phone,name,info_type_id,release_date,tags)
    values(#{SIS.userId},#{SIS.title},#{SIS.description},#{SIS.address},#{SIS.phone},#{name},1,NOW(),#{tag})
  </insert>

  <insert id="insertLabourInfoSquare" useGeneratedKeys="true" keyProperty="LaIS.infoId" parameterType="com.liyang.orchard.model.infosquare.LabourInfoSquare">
    insert into info_square(user_id,title,description,address,phone,recruit_num,name,info_type_id,release_date,tags)
    values(#{LaIS.userId},#{LaIS.title},#{LaIS.description},#{LaIS.address},#{LaIS.phone},#{LaIS.recruitNum},#{name},4,NOW(),#{tag})
  </insert>

  <insert id="insertLeaseInfoSquare" useGeneratedKeys="true" keyProperty="LeIS.infoId" parameterType="com.liyang.orchard.model.infosquare.LeaseInfoSquare">
    insert into info_square(user_id,title,description,address,phone,name,info_type_id,release_date,tags)
    values(#{LeIS.userId},#{LeIS.title},#{LeIS.description},#{LeIS.address},#{LeIS.phone},#{name},5,NOW(),#{tag})
  </insert>

  <insert id="insertTransferInfoSquare" useGeneratedKeys="true" keyProperty="TIS.infoId" parameterType="com.liyang.orchard.model.infosquare.TransferInfoSquare">
    insert into info_square(user_id,title,description,address,phone,name,info_type_id,release_date,tags)
    values(#{TIS.userId},#{TIS.title},#{TIS.description},#{TIS.address},#{TIS.phone},#{name},3,NOW(),#{tag})
  </insert>

  <select id="selectMyInfoSquareList" resultMap="PaginationInfoSquareMap">
    select * from info_square ins,img_list iml
    where ins.info_id=iml.info_square_id AND
    ins.user_id=#{userId}
  </select>

  <select id="selectMyInfoSquareListWithoutImg" resultMap="MyInfoSquareMap">
    select * from info_square
    where user_id=#{userId}
  </select>












  <update id="updateInfoSquare">
    UPDATE info_square
    <set>
        user_id=#{UIQ.userId},title=#{UIQ.title},description=#{UIQ.description},
        address=#{UIQ.address},`name`=#{name},phone=#{UIQ.phone},
        video_url=#{UIQ.videoUrl},buy_weight=#{UIQ.buyWeight},
        recruit_num=#{UIQ.recruitNum},info_type_id=#{UIQ.infoTypeId},
        tags=#{UIQ.tags},release_date=NOW()
    </set>
    <where>
      info_id = #{UIQ.infoId}
    </where>
  </update>

  <select id="searchInfoSquareByPiece" resultMap="SearchInfoSquareMap">
    SELECT * FROM info_square
    WHERE tags LIKE concat('%',#{queryText},'%')
  </select>

  <select id="searchInfoSquareByType" resultMap="SearchInfoSquareMap">
    SELECT * FROM info_square
    WHERE tags LIKE concat('%',#{queryText},'%')
    AND info_type_id=#{infoType};
  </select>

  <select id="searchAllInfoSquareByType" resultMap="SearchInfoSquareMap">
    SELECT * FROM info_square where info_type_id=#{infoType};
  </select>

  <select id="searchAllInfoSquare" resultMap="SearchInfoSquareMap">
    SELECT * FROM info_square;
  </select>
</mapper>