<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyang.orchard.dao.OwnerHouseMapper">
  <resultMap id="BaseResultMap" type="com.liyang.orchard.model.OwnerHouse">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="owner_house_id" jdbcType="INTEGER" property="ownerHouseId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="description" jdbcType="VARCHAR" property="description" />
<!--    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />-->
    <result column="video_source" jdbcType="VARCHAR" property="videoSource" />
    <result column="like_it" jdbcType="INTEGER" property="likeIt" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
  </resultMap>

  <resultMap id="AddOwnerHouse" type="com.liyang.orchard.model.ownerhouse.AddOwnerHouse">
    <id column="owner_house_id" jdbcType="INTEGER" property="ownerHouseId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <!--    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />-->
    <result column="video_source" jdbcType="VARCHAR" property="videoSource" />
  </resultMap>

  <resultMap id="PaginationOwnerHouseMap" type="com.liyang.orchard.model.ownerhouse.PaginationOwnerHouse">
    <id column="owner_house_id" jdbcType="INTEGER" property="ownerHouseId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <!--    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />-->
    <result column="video_source" jdbcType="VARCHAR" property="videoSource" />
    <result column="date" jdbcType="DATE" property="date" />
  </resultMap>

  <sql id="allFields">
    owner_house_id,user_id,description,video_source,like_it,date
  </sql>

  <insert id="addOwnerHouse" useGeneratedKeys="true" keyProperty="ownerHouseId">
    INSERT INTO owner_house(user_id,description,video_source,date)
    VALUES (#{userId},#{description},#{videoSource},NOW());
  </insert>

  <update id="updateOwnerHouse">
    UPDATE owner_house
    <set>
      description=#{description},video_source=#{videoSource}
    </set>
    <where>
      owner_house_id = #{ownerHouseId}
    </where>
  </update>

  <select id="selectOwnerHouseByElevator" resultMap="PaginationOwnerHouseMap">
    select <include refid="allFields" />
    FROM owner_house
    ORDER BY owner_house_id DESC
  </select>

  <select id="selectOwnerHouseByStream" resultMap="PaginationOwnerHouseMap">
    select <include refid="allFields" />
    FROM owner_house
    ORDER BY date DESC
  </select>
</mapper>