<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyang.orchard.dao.WatchlistMapper">
  <resultMap id="BaseResultMap" type="com.liyang.orchard.model.Watchlist">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="watch_id" jdbcType="INTEGER" property="watchId" />
    <result column="user_positive_id" jdbcType="INTEGER" property="userPositiveId" />
    <result column="user_passive_id" jdbcType="INTEGER" property="userPassiveId" />
  </resultMap>
</mapper>